@font-face {
  font-family: 'poppins';
  src: url(fonts/poppins.ttf);
  font-style: normal;
}
@font-face {
  font-family: 'lora';
  src: url(fonts/lora.ttf);
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'lora-light';
  src: url(fonts/lora-light.ttf);
  font-style: normal;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
html {
  height: 100%;
}
  nav > .navigation-container {
    width: calc(90px + 5vw);
    height: 100%;
    left: 0;
  }

  .nav-list .navbar {
    flex-flow: column;
  align-items: center;
  margin: 0 10%;
  }
  .logo-list {
    margin: 0 7%;
  }
  .navigation-container > .nav-list > li:first-of-type {
    height: 25%;
    position: absolute;
    top: 5%;
  }
  .navigation-container > .nav-list > li:nth-of-type(2) {
    height: 60%;
    left: 0;
    top: 22.5%;
  }
  body > .brand-container {
    top: 0;
    width: 70%;
    height: 80%;
    border: solid 2px orange;
    margin: 5% 20%;
  }
  body > .contact-container {
    top: 0;
  }
  body > .intro-container {
    top: 0;
  }
    body > .container-slide {
      top: 0;
    }
    .brand-container > .logos  div {
      width: 33%;
      margin-bottom: 50px;
    }
    .brand-container .brands h1 {
      margin: 0;
    }
    .navigation-container .nav-list {
      top: 0;
    }
    .intro-container .about {
      width: 60%;
    }

}
* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
}

html {
width: 100%;
height: 100%;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /*overflow-y: hidden;*/
}
nav {
width: 100%;
height: 100%;
}
.navigation-container {
  width: 100%;
  height: calc(50px + 5vw);
  background-color: #E30712;
  position: relative;
  top: 0;
  z-index: 5;
  /*top: calc(100% - (50px + 5vw));*/
}
.nav-list {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 100%;
}
.nav-list li {
  display: inline-block;
}
.nav-list > li {
  height: 100%;
}
.logo img {
  width: calc(70px + 4vw);
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.navbar-item {
/*width: 20%;
text-align: center;*/
/*border: 2px solid grey;*/
text-align: center;
}
.navbar-item div:nth-of-type(2) {
  color: white;
  text-transform: uppercase;
  font-size: calc(5px + 1.25vw);
  font-family: "poppins";
}
.navbar img {
  width: calc(15px + 2vw);
}
.navbar-item:nth-of-type(3) img{
  width: calc(20px + 2vw);
}
.logo {
  /*width: 30%;
  position: absolute; */
  /*width: 25%;
  border: 2px solid purple;*/
}
.nav-list > li:first-of-type {
  width: 22.5%;
  /*width: 30%;
  height: auto;
  position: absolute;
  z-index: 6;*/
}
.nav-list > li:nth-of-type(2) {
  width: 77.5%;
  position: absolute;
  left: 22.5%;
  top: -20%;
}
/* This part for animating undelines below navigation buttons*/
.clicked {
  border: 2px solid white;
  border-radius: 20%;
  height: 3px;
}
.animate {
  animation-name: vary-width;
  animation-duration: 0.5s;
}
@keyframes vary-width {
  0% {width: 0;}
  100% {width: 100%;}
}

.container-slide {
  width: 100%;
  height: 100%;
  background-image: url("logo-bg-1.png");
  background-color: rgba(227,7,18,0.3);
  border: 5px solid orange;
  position: absolute;
  top: 0;
  left: 0;
}
#slideshow {
  width: 100%;
 height: 96%;
  border: 5px green solid;
  display: flex;
  justify-content: center;
  align-items: center;

  /*position: relative;
  left: 5%;*/
}
#slideshow > div {
  width: 100%;
  height: 100%;
  border: 8px solid blue;
  margin: auto;
  /*overflow: hidden;*/
}
#slideshow img {
  display: block;
  max-width: 90%;
  height: auto;
  margin: auto;
  border: 2px solid purple;
}
.slick-dots {
  top: 90%;
}


.intro-container {
position: absolute;
  top: 12%;
  left: 0;
  width: 100%;
  height: 87.5%;
  display: flex;
  justify-content: center;
  align-self: center;
  /*border: 2px solid blue;*/
  background-image: url(assets/dent-office.png) , url(assets/dent-lab.png);
  background-position: center top, center bottom;
  background-repeat: no-repeat;
  background-size: 100% 50%, 100% 50%;
  display: none;
}
.about {
  width: 90%;
  /*height: 100%;*/
  margin: auto;
  /*border: 2px solid black*/;
}
.about h1 {
  color: #E30712;
  text-transform: uppercase;
  margin-top: 10%;
  margin-bottom: 2vw;
  font-family: "lora";
  font-size: calc(26px + (45 - 26) * ((100vw - 300px) / (1300)));
}
.about p {
  font-family: "lora-light";
  font-size: calc(16px + (25 - 16) * ((100vw - 300px) / (1300)));
  margin: auto;
}
.about p b {
  font-family: "lora";
}
.about p:first-of-type {
  margin-bottom: 10px;
  line-height: calc(15px + 2vw);
}
.about p:nth-of-type(2) {
  line-height: calc(15px + 2vw);

}


.brand-container {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.logos {
  display: flex;
  width: 100%;
  height: auto;
  /*border: 2px black solid;*/
  justify-content: center;
  flex-wrap: wrap;
}
.logos div {
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  width: 50%;
  height: auto;
  margin-bottom: 10px;

  /*position: relative;
  padding-top: 30%;*/
}
.logos div a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logos img {
  /*position: absolute;
  left: 20;
  top: 0;*/
  display: block;
border: 1px #D6DBDF solid;
border-radius: 50%;
box-shadow: 0 3px #D6DBDF;
width: 60%;
height: auto;
max-width: 180px;
}
.brands {
  width: 100%;
  height: auto;
}
.brands h1 {
  width: 100%;
  height: 20%;
  color: #E30712;
  text-transform: uppercase;
  font-family: "lora";
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 25%;
  font-size: calc(26px + (50 - 26) * ((100vw - 300px) / (1300)));
}


.contact-container {
  display: none;
  position: absolute;
  top: 12%;
  left: 0;
}
.contact-container h1 {
  color: #E30712;
  text-transform: uppercase;
  font-family: "lora";
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 30px;
  margin-top: 5%;
  font-size: calc(26px + (45 - 26) * ((100vw - 300px) / (1300)));
}
.contact-container ul {
  /*position: relative;*/
  display: flex;
  width: 100%;
  list-style: none;
  align-items: center;
}
.contact-container ul:nth-of-type(2) {
  margin-bottom: 30px;
}
.contact-container ul:nth-of-type(4) {
  margin-bottom: 30px;
}
.contact-container ul li {
  /*display: inline-block;
  position: relative;*/
  display: flex;
}
.contact-container ul img {
  width: calc(15px + 2vw);
  /*border: 2px solid #E30712;
  padding: 10%;
  border-radius: 50%;*/
  /*position: absolute;
  right: 15%;
  bottom: 20%;*/
}
.contact-container ul li:nth-of-type(1){
  /*position: relative;*/
border: 2px solid #E30712;
border-radius: 100%;
padding: 0.5%;
margin-bottom: 5px;
margin-left: 10px;
margin-right: 5px;
text-align: center;
justify-content: center;
align-items: center;
}
.contact-container ul li:nth-of-type(2) {
width:85%;
/*border: 2px solid blue;*/
font-family: "lora-light";
font-size: calc(16px + (30 - 16) * ((100vw - 300px) / (1300)));

}
.contact-container ul:last-of-type li:nth-of-type(1) img{
padding: 8%;
}
