@font-face {
  font-family: 'poppins';
  src: url(fonts/poppins.ttf);
  font-style: normal;
}
@font-face {
  font-family: 'lora';
  src: url(fonts/lora.ttf);
  font-style: normal;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
}

html {
width: 100%;
height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
}
nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: calc(50px + 5vw);
  background-color: #E30712;
  z-index: 5;
}
.logo {
  position: absolute;
  border: 2px black solid;
  width: 30%;
  height: 100%;
  top: calc(-20px - 2vw);
}
.logo img {
  width: calc(75px + 5vw);
}
.navbar {
  position: absolute;
  width: 70%;
  height: 100%;
  left: 30%;
  top: 8%;
  text-align: center;
  border: 2px black solid;
  }
.navbar-item {
  display: inline-block;
  border: 2px black solid;
  height: 100%;
  width: 22%;
}
.navbar-item div:nth-of-type(2) {
  color: white;
  text-transform: uppercase;
  font-size: calc(5px + 2vw);
  font-family: "poppins";
}
.navbar-item img {
  width: calc(25px + 2vw);
}
.navbar-item:nth-of-type(3) img{
  width: calc(30px + 2vw);

}
.container-slide {
  width: 100%;
  height: 95vh;
  background-image: url("logo-bg-1.png");
  background-color: rgba(227,7,18,0.3);
  border: 5px solid orange;
display: none;
}
#slideshow {
  width: 100%;
  height: 85vh;
  border: 5px green solid;
  display: flex;
  justify-content: center;
  align-items: center;
  /*position: relative;
  left: 5%;*/
}
#slideshow > div {
  width: 100%;
  height: auto;
  border: 8px solid blue;
  margin: auto;
}
#slideshow img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin: auto;
  border: 2px solid purple;
}
.slick-dots {
  top: 90%;
}
.intro-container {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-self: center;
  border: 2px solid blue;
}
.about {
  width: 90%;
  height: auto;
  margin: auto;
  border: 2px solid black;
}
.about h1 {
  color: #E30712;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "lora";
  font-size: calc(26px + (45 - 26) * ((100vw - 300px) / (1300)));
}
.about p {
  font-family: "lora";
  font-size: calc(16px + (30 - 16) * ((100vw - 300px) / (1300)));
  margin: auto;
}
.about p:first-of-type {
  margin-bottom: 10px;
  line-height: 6vw;
}
.about p:nth-of-type(2) {
  line-height: 6vw;
}
